# Add the values for the Credentials to access the IBM Cloud
# Instuctions to access this information is in the README.MD
classic.username=<CLASSIC_USERNAME>
classic.api.key=<CLASSIC_API_KEY>
ibmcloud.api.key=<IBMCLOUD_API_KEY>
